# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated frozen dataset
data/generated/

# Local/raw/processed data
data/raw/
data/processed/